* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/*-------blogs page------*/

.blogs {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 100vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.blogs p {
  font-size: 17px;
  margin: 5px 20px;
  padding: .5px .5px;
}

.heading {
  font-size: 25px;
  color: #101010;
  margin-top: -560px;
  margin-left: 15px;
}

.essay {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 250vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.subtitle1 {
  font-size: 20px;
  color: #000000;
  margin: 10px 50px;
}

.sub {
  font-size: 17.5px;
  color: #000000;
  margin: 0 15px;
  padding-top: 10px;
}

.essay p {
  margin: 5px 20px;
  padding: .5px .5px;
  font-size: 17px;
  color:rgb(0, 0, 0);
  backdrop-filter: blur(2px);
}

.essay img {
  margin: 0 520px;
  align-items: center;
}

.caption {
  font-size: 14.5px;
  color:rgb(0, 0, 0);
  font-weight: bold;
  margin: 0 400px;
}

.u-url {
  color: rgb(198, 0, 215);
  font-size: 16px;
  text-decoration: none;
}

.u-url:hover {
  color: rgb(20, 20, 20);
  transition: ease-in;
  margin: 0 5px;
}

.bloggy {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 253vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.week12 {
  background-color: #3cfffc34;
  width: 100%;
  height: 100vh;
  border-radius: 2rem;
}

.week12 p {
  margin: 5px 20px;
}

.week13 {
  background-color: #0578a234;
  width: 100%;
  height: 90vh;
  border-radius: 2rem;
  padding-bottom: 15px;
}

.week13 p {
  margin: 5px 20px;
}

.week14 {
  background-color: #2626261b;
  width: 100%;
  height: 60vh;
  border-radius: 2rem;
}

.week14 p {
  margin: 5px 20px;
}

.pic {
  width: 400px;
  height: 300px;
  margin-left: 389px;
}

.prep {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 190vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.prep p {
  margin: 5px 20px;
  padding: .5px .5px;
  font-size: 17px;
  color:rgb(0, 0, 0);
  backdrop-filter: blur(2px);
}

.research {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 100vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.research p {
  margin: 5px 10px;
  padding: .5px .5px;
  font-size: 17px;
  color:rgb(0, 0, 0);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 976px) {
  .blogs {
    height: 150vh;
  }

  .essay {
    width: 80%;
    height: 375vh;
    margin: 0 130px;
  }

  .essay img {
    margin: 0 430px;
  }

  .caption {
    font-size: 13px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    margin: 0 200px;
  }

  .bloggy {
    height: 410vh;
    margin: 0 130px;
  }

  .week12 {
    width: 100%;
    height: 170vh;
  }

  .week13 {
    width: 100%;
    height: 150vh;
  }

  .week14 {
    width: 100%;
    height: 90vh;
  }

  .pic {
    width: 210px;
    height: 160px;
    margin-left: 300px;
  }

  .prep {
    height: 210vh;
    margin: 0 130px;
  }

  .research {
    height: 130vh;
    margin: 0 130px;
  }

  .subtitle1 {
    font-size: 15.5px;
    color: #000000;
    margin-left: 50px;
  }
}


/*-------design page------*/

.design {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 140vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.design p {
  font-size: 17px;
  margin: 5px 20px;
  padding: .5px .5px;
}

.design img {
  width: 400px;
  height: 400px;
  margin-left: 400px;
}

@media screen and (max-width: 976px) {
}

/*---------styleguide page-----*/

.styleguide {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 140vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.styleguide p {
  margin: 5px 10px;
  padding: .5px .5px;
  font-size: 17px;
  color:rgb(0, 0, 0);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 976px) {
  .styleguide {
    height: 230vh;
  }
}

/*---------wireframes page-----*/

.wireframe {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 380vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.wireframe p {
  margin: 5px 10px;
  padding: .5px .5px;
  font-size: 17px;
  color:rgb(0, 0, 0);
  backdrop-filter: blur(2px);
}
 
.wireframe img {
  width: 400px;
  height: 400px;
  margin-left: 400px;
}

@media screen and (max-width: 976px) {
  .wireframe {
    height: 440vh;
  }

  .wireframe img {
    margin-left: 200px;
  }
}

/*---------UI page-----*/

.UX {
  background-color: #a3f7f8ab;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  height: 200vh;
  cursor: pointer;
  margin: 0 150px;
  border-radius: 2rem;
}

.UX p {
  margin: 5px 10px;
  padding: .5px .5px;
  font-size: 17px;
  color:rgb(0, 0, 0);
  backdrop-filter: blur(2px);
}

.UX span {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 976px) {
  .UX {
    height: 320vh;
  }
}

/*-------art page------*/

.artwork {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  border-radius: 2rem;
  height: 120vh;
}

.top {
  background-color: #000000e7;
  border-radius: 2rem;
  padding: 2px 2px;
}

.close {
  float: right;
  margin-right: 28px;
  padding-top: 9px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
}

.close:hover {
  color: rgb(8, 239, 239);
}

.navbar-logo {
  margin-left: 30px;
  padding-bottom: 9px;
  color: #ffffff;
  font-size: 2.5rem;
}

.navbar-logo:hover {
  color: rgb(8, 239, 239);
}

.images {
  display: inline-block;
  background-color: #0000003c;
  padding: 5px 20px;
  margin: 0px 130px;
}

.images img {
  width: 310px;
  height: 300px;
  margin-left: 50px;
  padding: 5px;
  cursor: pointer;
}

.images img:hover{
  transform: scale(0.6) rotate(15deg);
  border-radius: 15.5px;
  box-shadow: 0 20px 70px #08f7ff92;
  transition: 1.5s;
}

.left {
  display: inline-block;
  margin-left: 500px;
  padding: 15px;
  background-color: #000000;
  border-radius: 2rem;
}

.icon {
  color: #e0f7fa;
  margin: 0 25px;
  padding: 10px 0px;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon:hover {
  color: rgb(8, 239, 239);
  margin-bottom: 2px;
  transform: .5s;
}

@media screen and (max-width: 976px) {
  .artwork {
    height: 140vh;
  }
  
  .top {
    padding: .5px .5px;
  }

  .images {
    display: inline-block;
    background-color: #0000003c;
    padding: 5px 5px;
    margin: 0px 120px;
  }
  
  .images img {
    width: 210px;
    height: 200px;
    margin-left: 80px;
    padding: 5px;
    cursor: pointer;
  }

  .left {
    margin-left: 350px;
    padding: 10px;
  }
}